Description=Reef-mon

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/reefmon/bin/reef-mon
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target